

h1 {color:#7EFCE1;
  text-decoration: underline;
  text-align: justify;
  line-height: 269px;
  display:block;
  background-image:url("keepcalmandcodeit.png");
  background-size:cover;
  /*960px 269px*/
}
